{% extends 'base.html.twig' %}

{% block title %}Generar Json
{% endblock %}

{% block body %}
    <h1>Generar Json para API NoEncontrado</h1>
    <br>
    {{ form(form) }}
        {##}


    {% endblock %}
